* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    padding-bottom: 30px;
    margin-bottom: 10px;
}
.margin-header {
    margin-left: 0px;
}
.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}

.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination>.btn {
    border-radius: 2rem;
}

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.col-md-6 {
    flex: 0 0 80%;
    max-width: 80%;
}

.row {
    justify-content: center;
}

.comment {
    border: 1px;
    background-color: rgba(247, 212, 170, 0.7);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    justify-content: center;
}

.form-comment {
    justify-content: center;
    max-width: 50%;
}

.billet {
    background-color: rgba(255, 250, 250, 0.8);
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

.date {
    font-size: 0.5em;
    margin-left: 20px;
}

.button {
    padding: 3px;
    border-radius: 5px;
    margin: auto;
    background-color: orange;
}

.buttons {
    margin: auto;
}

.form_comment {
    margin-left: 10px;
    max-width: 50%;
}

.container_commentaires {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 10px;
    flex-direction: row;
    width: 100%;
}

.container_comments {
    width: 50%;
}

.head_comment {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card {
    background-color: rgba(255, 250, 250, 0.7);
}

body {
    background-image: url("../images/image.jpg");
    background-size: all;
    background-attachment: fixed;
}

a {
    padding: 4px;
}

a:hover {
    background-color: rgba(255, 250, 250, 0.9);
    border-radius: 10px;
    padding: 4px;
    text-decoration: black;
    color: black !important;
}
header {
    max-width: 80%;
    margin-left: 10%;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 10%;
    width: 80%;
    height: 40px;
    border-radius: 20px;
}

.blog-footer {
    padding: 0px;
    border: 0px;
}

.list_footer {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 250, 250, 0.9);
}

ul.list_footer li {
    display: inline;
    background-color: rgba(255, 250, 250, 0.9);
}

.continued {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
